{% extends 'vehicle/mechanicbase.html' %}
{% load static %}
{% block content %}

<style>
	.counter{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	transition:.5s;
	cursor:pointer;
	}
	.counter:hover{
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	padding :5%;
	}
	.bg1{
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	}
	.bg2{
	background-color :#20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
	}
	.bg3{
	background-color: #6b0f1a;
	background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);

	}
	.bg4{
	background-color: #63d471;
background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
	}
	.icon{
	font-size:80px;
	opacity:0.5;
	}
	.divv{
	background:url('https://th.bing.com/th/id/OIP.1ZAqJgMbBGPRe2kcOeYrMAHaEf?pid=ImgDet&rs=1') ;
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 300px;
		}
		.divv h1{
		padding:100px 50px;
		}
</style>
	<!-- main content -->
	<div class="wrapper">

<!-- ****** cards start ********** -->
		<div class="row">
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg1">
					<p>
						<i class="fas fa-tasks icon"></i>
					</p>
					<h3>{{new_work_assigned}}</h3>
					<p>New Work Assigned</p>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg2">
					<p>
						<i class="fas fa-spinner icon"></i>
					</p>
					<h3>{{work_in_progress}}</h3>
					<p>Work In Progress</p>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg3">
					<p>
						<i class="fas fa-check-circle icon"></i>
					</p>
					<h3>{{work_completed}}</h3>
					<p>Work Completed</p>
				</div>
			</div>
			<div class="col-3 col-m-6 col-sm-6">
				<div class="counter bg4">
					<p>
						<i class="fas fa-rupee-sign icon"></i>
					</p>
					<h3>{{salary}}</h3>
					<p>Salary</p>
				</div>
			</div>
		</div><br><br><br><br>
		<marquee behavior="scroll" direction="left">
		 <img src="{% static "images/ferrari.png" %}" width="120" height="80" alt="ferrari" />
			<img src="{% static "images/ford.png" %}" width="120" height="80" alt="ford" />
		 <img src="{% static "images/lambo.png" %}" width="120" height="80" alt="lambo" />
		 <img src="{% static "images/mahindra.png" %}" width="120" height="80" alt="mahindra" />
		 <img src="{% static "images/tvs.png" %}" width="120" height="80" alt="tvs" />
		 <img src="{% static "images/tata.png" %}" width="120" height="80" alt="tata" />
		 <img src="{% static "images/hero.png" %}" width="120" height="80" alt="hero" />
		 <img src="{% static "images/rolls.png" %}" width="120" height="80" alt="rolls" />
		 <img src="{% static "images/suzuki.png" %}" width="120" height="80" alt="suzuki" />
	 </marquee>
	 <br><br><br><br><br><br><br><br><br><br><br><br>
		</div>


<!-- ****** cards end ********** -->


	<!-- end main content -->
{% endblock content %}
